:root {
  --menu-color: rgb(24, 24, 24); }

/*Reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

html body {
  background-color: #c5c3c3;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px;
  box-sizing: border-box; }

/*Menu*/
header {
  padding-left: 50px;
  margin-right: 20px;
  height: 100px;
  background-color: var(--menu-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header .logo {
    color: white;
    font-size: 30px; }
  header .menu {
    display: flex;
    align-items: center;
    padding: 10px;
    list-style: none;
    transition: all .2s ease;
    margin-right: 0px; }
    header .menu a {
      padding-left: 20px;
      text-decoration: none;
      font-size: 1.5vw;
      color: white;
      transition: all .4s ease; }
    header .menu a:hover {
      color: #bebcbc;
      margin: 5px; }
  header .mostrar-menu,
  header .esconder-menu {
    color: white;
    cursor: pointer;
    transition: all .4s ease;
    display: none;
    font-size: 30px; }
  header .mostrar-menu {
    order: 1; }
  header #check {
    display: none; }

footer {
  position: absolute;
  bottom: 0;
  height: 100px; }

/*Banner*/
.banner {
  height: 60vh;
  background-image: url(../image/SL_082820_34580_16.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.788);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .banner h2,
  .banner h1,
  .banner p {
    color: white;
    margin-top: 20px; }
  .banner p {
    background-color: yellow;
    padding: 20px;
    color: black;
    border-radius: 10px;
    cursor: pointer; }
  .banner p:hover {
    color: white;
    background-color: yellowgreen; }

/*Contenido*/
.contenido {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 50px; }
  .contenido div {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .contenido div img {
      height: 250px;
      width: auto;
      border-radius: 200px; }
    .contenido div p {
      text-align: center;
      max-width: 300px; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  body {
    background-color: #207e52; }
  /*Header*/
  header .esconder-menu,
  header .mostrar-menu {
    display: block; }
  header .esconder-menu {
    position: absolute;
    top: 40px;
    right: 40px; }
  header #check:checked ~ .menu {
    right: 0; }
  header .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--menu-color);
    right: -100%;
    z-index: 100;
    transition: all .8s ease;
    text-align: center;
    top: 0;
    padding: 100px 0px;
    display: block; }
    header .menu a {
      display: block;
      color: white;
      text-transform: uppercase;
      padding: 15px;
      font-size: 2.5vw; }
  .contenido {
    display: flex;
    flex-direction: column; }
    .contenido div {
      flex-direction: row; } }
