.nosotros .imagen_center {
  background-image: url(../image/estudio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.719);
  height: 70vh;
  width: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column; }
  .nosotros .imagen_center .titulo_1 {
    color: white;
    margin-left: 50px; }
  .nosotros .imagen_center .titulo_2 {
    color: white;
    font-size: 5vw;
    margin-left: 50px; }

.nosotros .text_1 {
  margin: 20px 50px; }
  .nosotros .text_1 h3 {
    color: red;
    margin-top: 50px; }
  .nosotros .text_1 .text_duo {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 75px; }
    .nosotros .text_1 .text_duo p {
      max-width: 900px; }
  .nosotros .text_1 .titulo_3 {
    font-size: 30px;
    color: red;
    margin-top: 100px;
    margin-bottom: 100px; }

.nosotros main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .nosotros main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .nosotros main div img {
      width: auto;
      height: 200px;
      border-radius: 50%;
      cursor: pointer;
      transition: all .4s; }
    .nosotros main div img:hover {
      background-color: black;
      border-radius: 10%; }
    .nosotros main div p {
      text-align: left;
      max-width: 300px; }

:root {
  --menu-color: rgb(24, 24, 24); }

/*Reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

html body {
  background-color: #c5c3c3;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px;
  box-sizing: border-box; }

/*Menu*/
header {
  padding-left: 50px;
  margin-right: 20px;
  height: 100px;
  background-color: var(--menu-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100; }
  header .logo {
    color: white;
    font-size: 30px; }
  header .menu {
    display: flex;
    align-items: center;
    padding: 10px;
    list-style: none;
    transition: all .2s ease;
    margin-right: 0px; }
    header .menu a {
      padding-left: 20px;
      text-decoration: none;
      font-size: 1.5vw;
      color: white;
      transition: all .4s ease;
      padding: 25px; }
    header .menu a:hover {
      color: #bebcbc;
      margin: 5px; }
  header .mostrar-menu,
  header .esconder-menu {
    color: white;
    cursor: pointer;
    transition: all .4s ease;
    display: none;
    font-size: 30px; }
  header .mostrar-menu {
    order: 1; }
  header #check {
    display: none; }

footer {
  position: absolute;
  bottom: 0;
  height: 100px; }

/*Banner*/
.banner {
  height: 60vh;
  background-image: url(../image/SL_082820_34580_16.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.788);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .banner h2,
  .banner h1,
  .banner p {
    color: white;
    margin-top: 20px; }
  .banner p {
    background-color: yellow;
    padding: 20px;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    transition: all .4s; }
  .banner p:hover {
    color: white;
    background-color: yellowgreen; }

/*Contenido*/
.contenido {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 50px; }
  .contenido div {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .contenido div .game {
      background-image: url(../image/videogame.jpg); }
    .contenido div .movie {
      background-image: url(../image/movie.jpg); }
    .contenido div .series {
      background-image: url(../image/series.jpg); }
    .contenido div .series,
    .contenido div .movie,
    .contenido div .game {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 250px;
      width: 250px;
      background-color: rgba(0, 0, 0, 0.432);
      background-blend-mode: soft-light;
      border-radius: 200px;
      filter: grayscale(100%);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      .contenido div .series p,
      .contenido div .movie p,
      .contenido div .game p {
        color: white;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 600; }
    .contenido div img {
      height: 250px;
      width: auto;
      border-radius: 200px; }
    .contenido div p {
      text-align: center;
      max-width: 300px;
      font-size: 1.8vw; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  body {
    background-color: #207e52; }
  /*Header*/
  header .esconder-menu,
  header .mostrar-menu {
    display: block; }
  header .esconder-menu {
    position: absolute;
    top: 40px;
    right: 40px; }
  header #check:checked ~ .menu {
    right: 0; }
  header .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--menu-color);
    right: -100%;
    z-index: 100;
    transition: all .8s ease;
    text-align: center;
    top: 0;
    padding: 100px 0px;
    display: block; }
    header .menu a {
      display: block;
      color: white;
      text-transform: uppercase;
      padding: 15px;
      font-size: 2.5vw; }
  .contenido {
    display: flex;
    flex-direction: column; }
    .contenido div {
      flex-direction: row; }
      .contenido div p {
        font-size: 2.5vw; }
  .nosotros .imagen_center {
    height: 45vh; }
  .nosotros main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .nosotros main div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .nosotros main div img {
        width: auto;
        height: 200px;
        border-radius: 50%; }
      .nosotros main div p {
        text-align: left;
        max-width: 300px; } }
